
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'PT Mono', monospace;
  font-weight: 400;        //400-regular, 500-semibold, 600-bold
  font-size: 16pt;       // man kanns auch als "regular" z.b. dahinter schreiben 
  box-sizing: border-box;
}

header h1 {       // nimmt nun nur header h1 elemente -> spezifische regeln für einzelne Elemente festlegen 
font-size: 2em; // wird nach festgelegter Größe im html zu reguliert; em ist die Einheit 
  font-weight: regular;
  text-align: center;
}
header h2 {
text-align: center;
font-weight: regular;
fontsize: 1em;

}

// im html: class vergeben (im css wird das dann als . angegeben) man kann mehrere klassen vergeben mit leerzeichen ; oder id vergeben 
// grundlegende elemente: normaler selektor 
// classes für spezifische Dinge (css tutorial: w3school.com


// Footer 

footer {
  text-align: left;
  padding: 10px;
  float: left;
  position: fixed;
  bottom: 5px;
  left: 5px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-weight: bold;
  }
}



.startpoints {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  background-size: 220px;
 
}

.projects {
  width: 500px; 
  height: 500px; 
  border-radius: 50%;

}

.image {
width: 30%;
margin: 0,5%;
}
