
// CSS Tutorial w3school.com

@import url('https://fonts.googleapis.com/css?family=PT+Mono');

*, *:before, *:after {
  margin: 5px;
  padding: 10px;
  box-sizing: inherit;
}

html {
  font-family: 'PT Mono', monospace;
  font-weight: 400;        //400-regular, 500-semibold, 600-bold
  font-size: 16pt;       // man kanns auch als "regular" z.b. dahinter schreiben 
  box-sizing: border-box;
}

body {
  position: relative;
}

// Header

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  //border-style: dashed;
  
  .hi {
    margin: 0;
    //border-style: dashed;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .pfeil {
      width: 10%;
      height: 90%;
    }  
  }
/*
  .Iam{
    padding: 0;
    margin: 0;
    display: flex;
    //border-style: dashed;
    justify-content: center;
    font-weight: 300;
    
    
  }*/

  h1 {
    font-size: 2.5em; // wird nach festgelegter Größe im html zu reguliert; em ist die Einheit 
    font-weight: regular;
  }

  h2 {
  font-weight: regular;
  font-size: 1.2em;

  }
}

main {
  display: flex;
  justify-content: space-around;
}



// Footer 

footer {
  text-align: left;
  padding: 10px;
  float: left;
  position: fixed;
  bottom: 5px;
  left: 5px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-weight: bold;
  }
}

a {
  text-decoration:none;
  color: black;
}

#po {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

// Startpoints 

.startpoints {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  background-size: 290px;

  &:nth-child(2) {
    margin-top: 13em;
  }
  &:first-child {
    margin-top: 7em;
  }
  &:last-child {
    margin-top: 7em;
  }


  &:hover {
    background-image: none !important;
    background: #C8DCF3;

    p {
      display: initial;
      color: white;
    }
  }

  p {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: none;
  }
}

// Projects

.projects {
  position: relative;
  width: 220px; 
  height: 220px; 
  border-radius: 50%;
  background-size: 250px;
  

  &:hover {
    background-image: none !important;
    background: #C8DCF3;

    p {
      display: initial;
      color: white;
    }
  }
  p {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: none;
  }

}


.aboutme {
  width:200px;
  height:200px;
  border-radius: 50%;
  background-size: 200px;
}
