
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

*, *:before, *:after {
  margin: 5px;
  padding: 10px;
  box-sizing: inherit;
}

html {
  font-family: 'PT Mono', monospace;
  font-weight: 400;        //400-regular, 500-semibold, 600-bold
  font-size: 16pt;       // man kanns auch als "regular" z.b. dahinter schreiben 
  box-sizing: border-box;
}

body {
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2em; // wird nach festgelegter Größe im html zu reguliert; em ist die Einheit 
    font-weight: regular;
    text-align: center;
  }

  h2 {
  text-align: center;
  font-weight: regular;
  font-size: 1em;

  }
}

main {
  display: flex;
  justify-content: space-around;
}

// im html: class vergeben (im css wird das dann als . angegeben) man kann mehrere klassen vergeben mit leerzeichen ; oder id vergeben 
// grundlegende elemente: normaler selektor 
// classes für spezifische Dinge (css tutorial: w3school.com

.hi {
  //border-style: dotted;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

// Footer 

footer {
  text-align: left;
  padding: 10px;
  float: left;
  position: fixed;
  bottom: 5px;
  left: 5px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-weight: bold;
  }
}

a {
  text-decoration:none;
  color: black;
}

#po {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.startpoints {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  background-size: 220px;

  &:nth-child(2) {
    margin-top: 5em;
  }

  &:hover {
    background-image: none !important;
    background: #123456;

    p {
      display: initial;
      color: white;
    }
  }

  p {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: none;
  }
}

.projects {
  width: 500px; 
  height: 500px; 
  border-radius: 50%;

}

.image {
width: 30%;
margin: 0,5%;
}

